
lab2/navigation/.metadata
lab2/navigation/analysis_options.yaml
lab2/navigation/android/app/build.gradle
lab2/navigation/android/app/src/debug/AndroidManifest.xml
lab2/navigation/android/app/src/main/AndroidManifest.xml
lab2/navigation/android/app/src/main/res/drawable-v21/launch_background.xml
lab2/navigation/android/app/src/main/res/drawable/launch_background.xml
lab2/navigation/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
lab2/navigation/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
lab2/navigation/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
lab2/navigation/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
lab2/navigation/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
lab2/navigation/android/app/src/main/res/values-night/styles.xml
lab2/navigation/android/app/src/main/res/values/styles.xml
lab2/navigation/android/app/src/profile/AndroidManifest.xml
lab2/navigation/android/build.gradle
lab2/navigation/android/gradle.properties
lab2/navigation/android/gradle/wrapper/gradle-wrapper.properties
lab2/navigation/android/settings.gradle
lab2/navigation/ios/Flutter/AppFrameworkInfo.plist
lab2/navigation/ios/Flutter/Debug.xcconfig
lab2/navigation/ios/Flutter/Release.xcconfig
lab2/navigation/ios/Runner.xcodeproj/project.pbxproj
lab2/navigation/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
lab2/navigation/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
lab2/navigation/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
lab2/navigation/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
lab2/navigation/ios/Runner.xcworkspace/contents.xcworkspacedata
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
lab2/navigation/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
lab2/navigation/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
lab2/navigation/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
lab2/navigation/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
lab2/navigation/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
lab2/navigation/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
lab2/navigation/ios/Runner/Base.lproj/LaunchScreen.storyboard
lab2/navigation/ios/Runner/Base.lproj/Main.storyboard
lab2/navigation/ios/Runner/Info.plist
lab2/navigation/ios/Runner/Runner-Bridging-Header.h
lab2/navigation/ios/RunnerTests/RunnerTests.swift
lab2/navigation/lib/main.dart
lab2/navigation/lib/screenOne.dart
lab2/navigation/lib/screenTwo.dart
lab2/navigation/linux/CMakeLists.txt
lab2/navigation/linux/flutter/CMakeLists.txt
lab2/navigation/linux/flutter/generated_plugin_registrant.cc
lab2/navigation/linux/flutter/generated_plugin_registrant.h
lab2/navigation/linux/flutter/generated_plugins.cmake
lab2/navigation/linux/main.cc
lab2/navigation/linux/my_application.cc
lab2/navigation/linux/my_application.h
lab2/navigation/macos/Flutter/Flutter-Debug.xcconfig
lab2/navigation/macos/Flutter/Flutter-Release.xcconfig
lab2/navigation/macos/Flutter/GeneratedPluginRegistrant.swift
lab2/navigation/macos/Runner.xcodeproj/project.pbxproj
lab2/navigation/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
lab2/navigation/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
lab2/navigation/macos/Runner.xcworkspace/contents.xcworkspacedata
lab2/navigation/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
lab2/navigation/macos/Runner/AppDelegate.swift
lab2/navigation/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
lab2/navigation/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
lab2/navigation/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
lab2/navigation/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
lab2/navigation/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
lab2/navigation/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
lab2/navigation/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
lab2/navigation/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
lab2/navigation/macos/Runner/Base.lproj/MainMenu.xib
lab2/navigation/macos/Runner/Configs/AppInfo.xcconfig
lab2/navigation/macos/Runner/Configs/Debug.xcconfig
lab2/navigation/macos/Runner/Configs/Release.xcconfig
lab2/navigation/macos/Runner/Configs/Warnings.xcconfig
lab2/navigation/macos/Runner/DebugProfile.entitlements
lab2/navigation/macos/Runner/Info.plist
lab2/navigation/macos/Runner/MainFlutterWindow.swift
lab2/navigation/macos/Runner/Release.entitlements
lab2/navigation/macos/RunnerTests/RunnerTests.swift
lab2/navigation/pubspec.lock
lab2/navigation/pubspec.yaml
lab2/navigation/README.md
lab2/navigation/test/widget_test.dart
lab2/navigation/web/favicon.png
lab2/navigation/web/icons/Icon-192.png
lab2/navigation/web/icons/Icon-512.png
lab2/navigation/web/icons/Icon-maskable-192.png
lab2/navigation/web/icons/Icon-maskable-512.png
lab2/navigation/web/index.html
lab2/navigation/web/manifest.json
lab2/navigation/windows/CMakeLists.txt
lab2/navigation/windows/flutter/CMakeLists.txt
lab2/navigation/windows/flutter/generated_plugin_registrant.cc
lab2/navigation/windows/flutter/generated_plugin_registrant.h
lab2/navigation/windows/flutter/generated_plugins.cmake
lab2/navigation/windows/runner/CMakeLists.txt
lab2/navigation/windows/runner/flutter_window.cpp
lab2/navigation/windows/runner/flutter_window.h
lab2/navigation/windows/runner/main.cpp
lab2/navigation/windows/runner/resource.h
lab2/navigation/windows/runner/resources/app_icon.ico
lab2/navigation/windows/runner/runner.exe.manifest
lab2/navigation/windows/runner/Runner.rc
lab2/navigation/windows/runner/utils.cpp
lab2/navigation/windows/runner/utils.h
lab2/navigation/windows/runner/win32_window.cpp
lab2/navigation/windows/runner/win32_window.h
